@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my first webpage created by Visual studio</h1>
    <p>Learn about building Web apps with ASP.NET Core</p>
    <p><button onclick="myMove()">Click Me to move the video</button></p>
    <iframe id="animate" width="875" height="492" src="https://www.youtube.com/embed/o_lmRHkLvp8" title="Visual Studio 2022 | Getting Started Web Design |  HTML &amp; CSS" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  
</div>
